<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{layout/nav :: menu}"></div>
<div class="main-content">
    <div class="card">
        <h1>Clientes Registrados</h1>
        <a th:href="@{/clientes/nuevo}" class="btn btn-add">+ Nuevo Cliente</a>
        <table>
            <thead>
            <tr>
                <th>DPI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${clientes}">
                <td th:text="${c.DPICliente}"></td>
                <td th:text="${c.nombreCliente}"></td>
                <td th:text="${c.apellidoCliente}"></td>
                <td th:text="${c.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
                <td>
                    <a th:href="@{/clientes/eliminar/{id}(id=${c.DPICliente})}"
                       class="btn btn-del" onclick="return confirm('¿Eliminar?')">X</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>