<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{layout/nav :: menu}"></div>

<main class="main-content">
    <div class="container">
        <header class="content-header">
            </a>
        </header>

        <section class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <td>
                    </td>
                    <td class="actions">
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>

</body>
</html>
